<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Ipa:</b>
  <%= link_to "Download ipa", "itms-services://?action=download-manifest&amp;url=#{request.protocol}#{request.host_with_port}{@project.ipa_url}.plist" if @project.ipa.present? %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
