<!DOCTYPE html>
<html>
<head>
  <title>IpaDeliverer</title>
  <link rel="stylesheet" type="text/css" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>         
  <%= csrf_meta_tags %>
</head>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Ipa Uploader</a>
      <ul class="nav">
        <li class="active"><a href="/projects">Ipas</a></li>
      </ul>
    </div>
  </div>
</div>

<body>
	
<div class="container"> 
	<p id="error"><%= flash[:error] %></p>
	<%= yield %>
</div>

</body>


<footer>
  <div class="container">
    Ernesto Carrión
  </div>
</footer>
</html>
